<%= render "layouts/error_summary",
  errors: employee.errors,
  title: t("admin.employees.form.error_title") %>

<%= form_with model: [:admin, employee], class: "stacked-form admin-form" do |form| %>
  <div class="field-row">
    <div class="field">
      <%= form.label :first_name, t("admin.employees.form.first_name") %>
      <%= form.text_field :first_name, autocomplete: "given-name" %>
    </div>
    <div class="field">
      <%= form.label :last_name, t("admin.employees.form.last_name") %>
      <%= form.text_field :last_name, autocomplete: "family-name" %>
    </div>
  </div>

  <div class="field-row">
    <div class="field">
      <%= form.label :national_id, t("admin.employees.form.national_id") %>
      <%= form.text_field :national_id %>
    </div>
    <div class="field">
      <%= form.label :active, t("admin.employees.form.status") %>
      <%= form.select :active, [[status_text(:active), true], [status_text(:disabled), false]] %>
    </div>
  </div>

  <div class="field-row">
    <div class="field">
      <%= form.label :email, t("admin.employees.form.email") %>
      <%= form.email_field :email, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= form.label :phone, t("admin.employees.form.phone") %>
      <%= form.telephone_field :phone, autocomplete: "tel" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, t("admin.employees.form.password") %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <fieldset class="choice-list">
    <legend><%= t("admin.employees.form.tags") %></legend>
    <% @tags.each do |tag| %>
      <label>
        <%= check_box_tag "employee[tag_ids][]", tag.id, employee.tag_ids.include?(tag.id) %>
        <span><%= tag.name %></span>
      </label>
    <% end %>
  </fieldset>

  <div class="form-actions">
    <%= link_to admin_employees_path, class: "button button-secondary" do %>
      <%= icon "x" %>
      <span><%= t("shared.cancel") %></span>
    <% end %>
    <%= button_tag type: :submit, class: "button button-primary", data: { submitting_label: t("shared.submitting.saving") } do %>
      <%= icon "save" %>
      <span><%= t("shared.save") %></span>
    <% end %>
  </div>
<% end %>
