<title><%= browser_title(content_for(:title), admin: local_assigns.fetch(:admin, false)) %></title>
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="application-name" content="<%= t("app.name") %>">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="<%= local_assigns.fetch(:theme_color, "#fff7f7") %>">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= yield :head %>

<% if local_assigns[:manifest] %>
  <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
<% end %>

<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/icon.png" type="image/png" sizes="512x512">
<link rel="apple-touch-icon" href="/icon.png">

<% Array(local_assigns.fetch(:stylesheets, %w[application brand])).each do |stylesheet| %>
  <%= stylesheet_link_tag stylesheet, "data-turbo-track": "reload" %>
<% end %>
<%= javascript_importmap_tags local_assigns.fetch(:javascript, "application") %>
<% Array(local_assigns.fetch(:javascript_assets, [])).each do |javascript_asset| %>
  <%= javascript_include_tag javascript_asset, type: "module", "data-turbo-track": "reload" %>
<% end %>
