<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-pwa="employee">
  <head>
    <%= render "layouts/head", manifest: true, theme_color: "#e30613" %>
  </head>

  <body class="employee-shell auth-shell">
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>"><%= message %></div>
    <% end %>

    <main class="auth-main">
      <%= yield %>
    </main>
  </body>
</html>
